# Bỏ qua các file và thư mục không cần thiết
*.iml
.gradle/
.idea/
.DS_Store
local.properties

# Bỏ qua thư mục build (chứa file tạm thời)
build/
app/build/

# Bỏ qua các file và thư mục tạm thời khác
captures/
.externalNativeBuild/
.cxx/


